<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgBApK0uMNrSWh1muDiRXWs4Y1BTwRlDs</string>
	<key>GCM_SENDER_ID</key>
	<string>404478966588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nsbm.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>uni-navigator-9be42</string>
	<key>STORAGE_BUCKET</key>
	<string>uni-navigator-9be42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404478966588:ios:da3429dc3bb992d09ebc39</string>
</dict>
</plist>